/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747; 
}



/* Webpage */

body {
	padding-top: 100px;
    text-align: center;
}

.navbar {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-img {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.nav-link {
    font-size: 1.2rem;
}

.img-fluid {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.grid-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.super-bold {
    font-weight: bold;
    font-size: 40px;
}

.pp {
    font-size: 21px;
}

/* Footer */
footer {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 25px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2);
}

.social-links a:last-child {
  margin-right: 0;
}

footer a[href^="https://twitter.com"] {
  background-color: #1da1f2;
}

footer a[href^="https://discord.gg"] {
  background-color: #7289da;
}

footer a[href^="https://instagram.com"] {
  background-color: #e1306c;
}
