body {
  background-color: #E2E2E2;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #E2E2E2;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  background-color: #e0e0e0;
}

h1 {
	text-align: center;
    color: #333;
}

p {
  color: #333;
  font-size: 16px;
}

.img-fluid {
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
