/* Body */
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

header a:hover {
  color: #ddd;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
}

#home {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home h1 {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

#home p {
  font-size: 18px;
  text-align: center;
}

#artworks {
  padding: 40px 0;
}

#artworks h1 {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.img-fluid {
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

footer {
  background-color: #fff;
  padding: 1rem;
  margin-top: 2rem;
}

.copyright {
  font-size: 0.8rem;
  color: #333;
  text-align: left;
}

.social-links {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links a {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  margin-right: 1rem;
}

.footer-links {
  margin-left: 10px;
}

@media (max-width: 992px) {
  .social-links {
    flex-direction: column;
    text-align: center;
  }
  
  .social-links a {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .img-fluid {
    width: 350px;
    height: 350px;
  }
  
  .bg-white p {
    text-align: center;
  }

  .footer-links {
    margin-left: 2px;
  }
}
